a, button{
	outline: none;
	color: @color-link-default;
	
	&:hover{
		outline: none;
		color: @color-link-hover;
	}
	&:active{
		outline: none;
		color: @color-link-active;
	}
	&:focus{
		outline: none;
		color: @color-link-focus;
	}
}

body{
	// background: @color-dark-2;
	background: @color-dark-2;
	color: @color-light-2;
	// padding: @grid-xl * 2;
	font-weight: 600;
	font-size: 16px;
	// padding-top: 58px;
	
}

.vionlabs{
	position: relative;
	background: fade(@color-dark-1, 85%);
	opacity: 0;

	&__wrap{
		position: relative;
	}
	&__rendered{
		opacity: 1;
	}
}

.section-container{
	.clearfix();
	position: relative;

	&_white{
		background-color: @color-gray-4;
	}
}
.section-menu{
	position: absolute;
	bottom: @grid-md;
	width: 100%;
	text-align: center;

	&__wrap{
		.clearfix();
		display: inline-block;

		&__item{
			float: left;
			position: relative;
			z-index: @zIndex-1;
			display: inline-block;
			vertical-align: bottom;
		}
	}
}
.section{
	// &:extend(.extended);
	position: relative;
	padding: 0 200px;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 750px;
	opacity: 0;
	// margin-bottom: 4px;
	// padding-top: 56px;
	h1,
	h2,
	h3,
	h4,
	h5,
	p{
		&:extend(.text-shadow);
	}

	&__wrap{
		position: relative;
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		&__head{
			text-transform: uppercase;
			color: @color-dark-3;
			color: @color-light-3;
		}
		&__body{
			max-width: 700px;
			margin: 0 auto;
		}
		&__foot{}
	}

	/* SECTION OPTION CLASSES */
	&_center{text-align: center;}
	&_left{
		text-align: left;
		padding-right: 30%;
		.section__wrap__body{float: left;}
	}
	&_right{
		text-align: right;
		padding-left: 30%;
		.section__wrap__body{float: right;}

	}
	&_white{
		background-color: @color-gray-4;
		color: @color-gray-1; 
		.section__wrap__head{
			color: @color-gray-1; 
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		p{
			text-shadow: none;
		}
	}
	/* SECTION SPECIFIC CLASSES */
	&_start{}
	&_contact{}

	&:nth-of-type(even){
		// background-color: @color-light-2;

	}
	
	&.inview{
		.animated; 
		.fadeIn; 
	}
}

.footer{
	.clearfix();
	padding: @grid-md 200px;
	bottom: 0;
	width: 100%;
	background-color: fade(@color-dark-1, 80%);

	&__wrap{
		position: relative;

		.background{
			opacity: .2;
		}
		&__info{
		}
	}
}

.info{
	.clearfix();
	padding: @grid-lg 0;
	text-align: center;
		a{text-decoration: none;}

	&__item{
		font-size: 20px;
		font-weight: 400;
		color: @color-light-2;
		margin: 0 @grid-md;

		.icon,
		span{
			vertical-align: middle;
		}
		.icon{
			font-size: 30px;
			margin: 0 @grid-sm;
		}
		&_small{
			margin-top: @grid-md;
			display: block;
			color: @color-gray-2
		}
	}
}

.logo{
	display: inline-block;
	line-height: 0;
	padding: 10px 0;

	&__content{
		width: 140px;
	}
}

.themenu{
	.transition(background-color, .2s, ease);
	.animated;
	.fadeInDown;
	position: fixed;
	z-index: @zIndex-3;
	width: 100%;
	top: 0;
	right: 0;
	background-color: fade(@color-dark-1, 80%);
	margin: 0;
	padding: 10px 200px;
	list-style: none;
	text-align: right;

	.logo{float:left;}

	&__item{
		display: inline-block;
	}
	&_transparent{
		background-color: fade(@color-dark-1, 10%);
	}
}


.delayed {
  .transition(opacity, 0.3s, linear);
  opacity: 1;

  &.ng-hide-add, 
  &.ng-hide-remove{
  	opacity: 0;
  }

  &.ng-hide {
  	opacity: 0;
  }
}
.custom-loop( 
	@base-value:0,
	@n: 6, 
	@step-size: 0.4,
	@property: { .animation-delay( ~"@{value}s !important"); }, 
	@selector: ~".delayed_");

.buttons{
	margin: -@grid-sm;

	&__wrap{
		display: inline-block;
		vertical-align: top;

	}
}
.button{
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	&:focus,
	&:hover{
		text-decoration: none;
	}

	&_menu{
		.transition(all, .5s, ease);
		&:extend(h4);
		font-weight: 600;
		text-transform: uppercase;
		padding: 4px @grid-sm;
		margin: 4px 0 0px @grid-xs;
		background: none;
		color: @color-light-3;
		border-bottom: 2px solid transparent;

		&_active,
		&:hover{
			border-color: fade(@color-light-3, 50%);
			// border-color: @color-vionlabs-1;
		}
	}

	&_social-link{
		.border-radius(30px);
		color: fade(@color-dark-2, 70%);
		background-color: @color-button-default;
		border: 1px solid lighten(@color-button-default, 10%);
		margin: @grid-sm @grid-sm;
		padding: 0 @grid-md;
		font-size: 30px;
		font-weight: 800;
		display: inline-block;
		line-height: 1;
		&__wrap{
			display: table;
			height: 50px;
			&__icon,
			&__text{
				display: table-cell;
				vertical-align: middle;
			}
			&__icon{
				padding-right: @grid-sm;
			}
			&__text{
				font-size: 20px;
				padding: 0 @grid-xs;
			}
			

		}
		&:hover,
		&:active,
		&:focus{
			background-color: lighten(@color-button-default, 5%);
			color: fade(@color-dark-2, 70%);
		}
	}
	&_hamburger{
		padding: @grid-xs;
		display: none;
		background: none;
		font-size: 30px;
		line-height: 1;
	}
	&_close-modal{
		padding: 0;
		line-height: 0;
		font-size: 40px;
		background: none;
	}
	&_section{
		cursor: pointer;
		width: 50px;
		height: 50px;
		text-align: center;
		background: none;

		&__dot{

			.border-radius(50%);
			cursor: pointer;
			display: block;
			margin: 0 auto;
			width: 30px;
			height: 30px;
			background-color: @color-gray-2;

			&_active{
				background-color: @color-gray-1;
			}
		}
	}
	&_navigation{
		@navigation-size: 170px;

		width: @navigation-size;
		overflow: hidden;
		position: absolute;
		left: 50%;
		margin-left: -(@navigation-size / 2);
		z-index: @zIndex-2;
		background: none;
		padding: 0;

		&__wrap{
			.border-radius(50%);
			display: block;
			width: @navigation-size;
			height: @navigation-size;
			padding: 0;
			background-color: fade(@color-light-2, 50%);
			border: 1px solid;
			border-color: fade(@color-gray-1, 10%);
			display: table;

			&__icon{
				.animated;
				position: relative;
				display: table-cell;
				font-size: 60px;
				color: fade(@color-dark-2, 50%);
			}
		}

		&_top{
			.animated;
			.fadeInDown;
			height: ((@navigation-size/2) * 1.3);
			top: 0;

			&__wrap{
				position: absolute;
				bottom: 0;

				&__icon{
					vertical-align: bottom;
				}
			}
		}

		&_bottom{
			.animated;
			.fadeInUp;
			height: ((@navigation-size/2) * 0.7);
			bottom: 0;
			&__wrap{
				position: absolute;
				top: 0;
				&__icon{
					vertical-align: top;
				}
			}
		}

		
		&:focus{
			.button_navigation__wrap{
				background-color: fade(@color-light-2, 50%);
			}
		}
		&:hover,
		&:active{
			.button_navigation__wrap{
				background-color: fade(@color-light-3, 80%);
			}
			.button_navigation__wrap__icon{
				.bounce;
				color: @color-gray-1;
			}
		}
	}	
}

.background{
	// position: relative;
	&__image{
		background-size: cover;
		background-position: center;
		&:extend(.extended);
	}
	&_big{
		&:extend(.extended);
	}
}

.layers{
	&:extend(.extended);
	overflow: hidden;

	&__layer{
		.animated;
		&:extend(.extended);
		display: table;
		padding: 78px 200px 78px 200px;

		&__content{
			display: table-cell;
			vertical-align: middle;
			img{
				// max-height: 380px;
				max-width: 100%;
			}
		}

		&_left{
			.fadeInLeftBig;
			text-align: left;
			&-top{
				&__content{vertical-align: top;}
			}
		}
		&_left-top{
			.fadeInDownBig;
			text-align: left;
			&__content{vertical-align: top;}
		}
		&_left-bottom{
			.fadeInUp;
			text-align: left;
			&__content{vertical-align: bottom;}
		}

		&_right{
			.fadeInRightBig;
			text-align: right;
		}
		&_right-top{
			.fadeInDownBig;
			text-align: right;
			&__content{vertical-align: top;}
		}
		&_right-bottom{
			.fadeInUpBig;
			text-align: right;
			&__content{vertical-align: bottom;}
		}

		&_center{
			.fadeInUp;
			text-align: center;
			&__content{vertical-align: center;}
		}
		&_center-bottom{
			.fadeInUp;
			text-align: center;
			&__content{vertical-align: bottom;}
		}
		&_center-top{
			.fadeInDown;
			margin-top: 56px;
			text-align: center;
			&__content{vertical-align: top;}
		}

	}
}

.vl-modal{
	
	&__header{
		position: relative;
		height: 300px;
		// width: 100%;
		padding: @grid-xl + @grid-xs @grid-xl @grid-lg @grid-xl;

		h1, 
		h2, 
		h3, 
		h4, 
		h5, 
		p{
			&:extend(.text-shadow);
			margin: 0;
		}

		&__wrap{
			position: relative;
			width: 100%;
			height: 100%;

			&__section,
			&__title{
				line-height: 0;
			}
			&__section{

			}
			&__title{
				position: absolute;
				bottom: 0;
				left: 0;
			}
			.button_close-modal{
				&:extend(.text-shadow);
				position: absolute;
				top: -18px;
				right: -15px;
			}
		}
	}
	&__body{
		padding: @grid-lg 0 @grid-xl 0;

		h1, 
		h2, 
		h3, 
		h4, 
		h5, 
		p{
			padding: 0 @grid-xl;
			color: @color-gray-1;
		}

		.buttons{
			padding: 0 @grid-xl;
			text-align: center;
			margin-top: 15px;
			.button{
				margin-bottom: 0;
			}
		}
	}
	&__footer{

	}
}

.info-circle-container{
	margin: @grid-lg -@grid-md;
	&_active{
		.info-circle{
			.fadeInUp;
		}
	}
}
.info-circle{
	.animated;
	display: inline-block;
	vertical-align: top;

	&__circle{
		.border-radius(50%);
		position: relative;
		background-color: @color-dark-3;
		text-align: center;
		margin: @grid-md;
		&__wrap{
			&:extend(.extended);

			&__icon-wrap{
				display: table;
				&:extend(.extended);

				&__icon{
					display: table-cell;
					vertical-align: middle;
					font-size: 50px;
					color: @color-light-2;
				}
			}
		}
		
	}
	&__text{
		text-align: center;
		display: block;
		padding: 0;
		text-transform: uppercase;
	}
}

.filler{
	width: 100%;
}

.blue-imp-items{
	.clearfix();
	margin-left: -@grid-gutter-width;
	margin-right: -@grid-gutter-width;
	&__item{
		.make-xs-column(12);
		.make-sm-column(8);
		.make-md-column(6);
		.make-lg-column(4);
		padding: @grid-gutter-width;
		.background{
			.tp-border();
		}
	}
}