/*
COLORS
********************************************************/
@zIndex-1: 100;
@zIndex-2: 200;
@zIndex-3: 300;
@zIndex-4: 400;
@zIndex-5: 500;
@zIndex-6: 600;
@zIndex-7: 700;
@zIndex-8: 800;
@zIndex-9: 900;

/*
COLORS
********************************************************/
@color-dark-1: #111111;
@color-dark-2: #222222;
@color-dark-3: #444444;

@color-gray-1: #555555;
@color-gray-2: #838B91;
@color-gray-3: #aaaaaa;
@color-gray-4: #ebedf2;

@color-light-1: #ccc;
@color-light-2: #eee;
@color-light-3: #fff;

@color-highlight-1: yellow;

@color-link-default: #eee;
@color-link-hover: #eee;
@color-link-active: #eee;
@color-link-focus: #eee;

@color-button-default: #8EC436;
@color-button-hover: #eee;
@color-button-active: #eee;
@color-button-focus: #eee;

@color-vionlabs-1: #C83186;
@color-vionlabs-2: #FF00BB;

/*
GRID
********************************************************/
@grid-xl: 50px;
@grid-lg: 30px;
@grid-md: 24px;
@grid-sm: 15px;
@grid-xs: 5px;

/*
VALUES
********************************************************/

/*
OVERRIDES
********************************************************/
// Number of columns in the grid system
@grid-columns:              24;
// Padding, to be divided by two and applied to the left and right of all columns
@grid-gutter-width:         15px;
// FlatUi fonts


